*{
 box-sizing: border-box;
}
body{
 margin: 0;
 padding: 0;
 font-family: "Montserrat", sans-serif;
}
main{
 padding-top: 2.5rem;
}
/* heading styling */
header{
 background: #2ddf5c;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 0.5rem;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 2;

}

.main-header_brand img{
 width: 2.5rem;
 margin: 0.5rem 1rem;
}
.main-nav_items{
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.main-nav_item a{
 margin: 0 1rem;
 text-decoration: none;
 color: #0e4f1f;
 font-weight: bold;
}
.main-nav_item a:hover,
.main-nav_item a:active{
 text-decoration:5px underline white;
 color: white;
}
.main-nav_item_c-t-a a{
 background: #ff1b68;
 color: white;
 padding:0.5rem 1rem;
 border-radius: 0.5rem;
}
.main-nav_item_c-t-a a:hover,
.main-nav_item_c-t-a a:active{
 text-decoration: none;
 color: #ff1b68;
 background: white;
}
@media(max-width:40rem){
 main{
  padding-top: 7rem;
 }
 header{
  display: block;
 }
 .main-header_brand_container{
  width: 2.5rem;
  margin: 1rem auto;
 }
 .main-header_brand img{
  width: 2.5rem;
 }
 .main-nav_items{
  vertical-align: middle;
 }
 .main-nav{
  padding-bottom: 1rem;
 }
}
/* button */
.button{
 color: white;
 background: #0e4f1f;
 font-weight: bold;
 font-family: inherit;
 padding: 0.5rem;
 border-radius: 8px;
 cursor: pointer;
}
.button:hover,
.button:active{
 color: #0e4f1f;
 background: white;
}
/* footer styling */
.main_footer{
 background: black;
 padding: 2rem;
}
.main_footer ul{
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
}
.main_footer a{
 color: white;
 text-decoration: none;
 padding: 2rem;
 font-family: inherit;
}
.main_footer a:hover,
.main_footer a:active{
 color: rgb(165, 164, 164);
}
@media (max-width: 40rem) {
 .main_footer{
  padding: 0.5rem;
 }
 .main_footer ul{
  display: block;
  text-align: center;
 }
 .main_footer-link{
  margin: 1rem;
 }
 .main_footer a{
  padding: 0;
 }
}